MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=bookstore
MYSQL_EXTRA_FLAGS=--skip-log-bin
SITE_PORT=8880
WS_TICKET_SECRET=c8b799e5aa828da6b42e55ca6470554095f6082c177853edb870721f172ed1e2

# only needed in production, for docker-compose.prod.yml's caddy service
SSL_DOMAIN=
